<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>467513456819-5qmgnfeikg2vuas5s8vn8ibip8iuk0ql.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.467513456819-5qmgnfeikg2vuas5s8vn8ibip8iuk0ql</string>
	<key>API_KEY</key>
	<string>AIzaSyCRCRNvP8D-uNvNitKtcbDiuvsI3eDUBWA</string>
	<key>GCM_SENDER_ID</key>
	<string>467513456819</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>aaron.com.nberFlutter</string>
	<key>PROJECT_ID</key>
	<string>nber-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>nber-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:467513456819:ios:d96b5ad63b1ca5adbd18c6</string>
	<key>DATABASE_URL</key>
	<string>https://nber-flutter.firebaseio.com</string>
</dict>
</plist>